<h1>Your circles</h1>

<ul>
  <% current_user.owned_circles.each do |circle| %>
    <li><%= circle.name %></li>
  <% end %>
</ul>
<br>
<%= link_to "Create a new circle", action = new_user_circle_url  %><br>
<%= link_to "Make a new post", action = new_user_post_url  %>